server:
    port: 8085
spring:
    datasource:
        url: jdbc:postgresql://localhost:5432/notes
        username: postgres
        password: 1234
        driver-class-name: org.postgresql.Driver
    liquibase:
        change-log: classpath:db/changelog/db.changelog-master.yml
        url: jdbc:postgresql://localhost:5432/notes
        user: postgres
        password: 1234
application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000 # a day
      refresh-token:
        expiration: 604800000 # 7 days